*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
    background-color: rgb(255 241 89);  
    background-size: cover;
    font-size: 12px;
    padding: 10px;
}
header section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}  
header img{
    width: 200px;
}  
header form{
    display: flex;
}
header .search-bar{
    text-align: center;
} 
header .search-bar input{
 width: 90%;
}
header .search-bar button{
    width: 2em;
} 
header ul{
    list-style: none;
}
header a{
    text-decoration: none;
    color: black;
}
.fa-bars{
    color: white;
    font-size: 20px;
}
.burger-menu{
    text-align: center;
}
.burger-menu button{
    width: 2.5em;
    height: 2.5em;
    background-color: #212c7b;
    border-color: #212c7b;
}
.navbar{
    display: none;
}
main{
    background-color: rgb(235 235 235);
    width: 90wd;
    padding-bottom: 10px;
}


/*  HOME.HTML */
.img-banner{
    width: 100vw;
    height: 300px;
}
 .style-article{  
    background-color: white;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    line-height: 24px; 

}
.style-article section{
    border-top: solid 1px #ebebeb;
    text-align: left;
    position: relative;
    padding: 10px;
}

main .posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 
.fa-truck{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
color: #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
} 
.fa-truck:hover{
    rotate: 270deg;
}
.article-images{
    width: 70vw;
}
.style-article:hover{
    box-shadow: 10px 5px 5px gray;
}
main h2{
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
.total-price{
    display: flex;
}
.precio{
    font-size: 18px;
    width: 30%;
}
.total-price:hover + .descripciones{
    display: block;
}
.descuento{
    font-size: 16px;
    width: 70%;
    font-weight: lighter;
    color: green;
}
.descripciones{
    font-size: 16px;
    color: gray;
    font-weight: normal;
    display: none;
}

/* REGISTER */

.register-form{
    margin:auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form h3{
    padding: 15px;
}
.register-form div{
    padding: 10px;
    margin: 5px;
}
.register-form button{
    text-align: center;
}
.form-input-box{
    width: 80vw;
    max-width: 500px;
    height: 2rem;
    display: block;
    border: none;
    border-radius: 5px;
}
.form-label-box{
    display: none;
}
.bn60 {
    background-color: #212c7b;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    height: 45px;
    width: 140px;
  }
  
  .bn60:hover{
    background-color: #0022AA;
  }

/*  FOOTER  */

footer{
    text-align: center;
}
footer div{
    margin-bottom: 10px;
}
.fa-user-shield{
    margin-bottom: 10px;
    color: #212c7b;
    font-size: 2em;
}
.fa-gift{
    margin-bottom: 10px;
    color: #212c7b;
    font-size: 2em;
}
.fa-credit-card{
    margin-bottom: 10px;
    color: #212c7b;
    font-size: 2em;
}
footer{
    padding: 20px;
}
footer p{
    margin-bottom: 0;
}
.fa-credit-card:hover{
    color: #0022AA;
}
.fa-gift:hover{
    color: #0022AA;
}
.fa-user-shield:hover{
    color: #0022AA;
}
/* tableta */ 
@media (min-width: 769px){
    header .burger-menu{
        display: none;
    } 
    header .navbar{
        display: flex;
        justify-content: space-around;
    }
    .first-nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 40%;
    }
    .second-nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 40%;
    }


    .navbar{
        display: block;
    }
    body{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .article-images{
        width: 40vw;
    }

}
/* 1024px desktop */
@media (min-width: 1024px){
    .article-images{
        width: 20vw;
    }
    .navbar{
        display: block;
    }
    footer div{
        display: flex;
    }
    header .search-bar input{
        min-width: 17rem;
       }
}
